---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <br>
                <p>
                <font size="4">Surf is a toolchain for building powerful multi-platform simulators of steady-state and dynamic FMI-compliant models in an easy and convenient way. Surf integrates a Graphical User Inteface (GUI) with a model (FMU) seamlessly in a simulator. The simulator includes everything needed (model, data, figures, docs, code, etc.) and can be distributed as a standalone application for different platforms.</font>
                </p>
                <br>
            </div>
            <div class="col-md-4">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <span class="sr-only">GUI</span>
                <h4>Graphical user interface (GUI)</h4>
                <p>Advanced and configurable GUI. Model parameters can be easily configured. Options for numerical integrator configuration. Simulation control buttons. Results are displayed in tables, diagrams and graphs. Support for different kinds of graphs: line, area, disks, and so on.</p>
                <!--<p><br/><a href="#" class="btn btn-theme">More Info</a></p>-->
            </div>
            <div class="col-md-4">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                <span class="sr-only">FMU</span>
                <h4>Functional Mock-up Unit support</h4>
                <p>Any model exported as FMU, by means of the <a href="http://fmi-standard.org/" target="_blank">Functional Mock-up Interface (FMI)</a> standard, can be used for generating an standalone simulation application in Surf. Most modern open source and commercial modeling and simulation tools support exporting models to FMU, such as Modelica tools and Matlab/Simulink.  </p>
                <!--<p><br/><a href="http://fmi-standard.org/" class="btn btn-theme">FMI standard</a></p>-->
            </div>
            <div class="col-md-4">
                <i class="fa fa-windows" aria-hidden="true"></i>
                <i class="fa fa-linux" aria-hidden="true"></i>
                <span class="sr-only">Multi-platform</span>
                <h4>Multi-platform simulators</h4>
                <p>Surf allows the modeler to build, without additional changes, standalone simulator applications for Windows and Linux platforms. Mac platform is planned to be supported in the future.</p>
                <!--<p><br/><a href="#" class="btn btn-theme">More Info</a></p>-->
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="LATEST SIMULATORS" limit=5 %}
<!--
<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div>
</div>-->
