<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>TECHNOLOGY: TOOLKITS, LIBRARIES & TOOLS</h3>
            {% for tech in site.technologies %}
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <a href={{ tech.url }}  target="_blank" title="{{ tech.text }}"><img src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ tech.img }}" class="img-responsive"></a>
                </div>
            {% endfor %}
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
