<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <img src="{{ "/assets/img/surf.png" | prepend: site.baseurl }}" class="img-responsive" width="100">
                <h2><font color="white"><i class="fa fa-gears" aria-hidden="true"></i> Simulator builder</font></h2>            
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
