---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Simulator Details</h4>
            <div class="hline"></div>
            <p>
            <b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}<br>
            <b>Author/s:</b> {{ page.author }}<br>
            <b>Contact:</b> {{ page.contact }}<br>
            <b>Email:</b> <a href="mailto:{{ page.email }}">{{ page.email }}</a><br>
            <b>Tagged:</b> {{ page.tagged }}<br>
            <b>Website:</b> <a href="{{ page.website }}" target="_blank">{{ page.website }}</a><br>
            {% if page.documents.size > 0 %}
                <b> Documentation: <b><br>
            {% endif %}
            {% for document in page.documents %}
                    <a href="{{ document.link }}" target="_blank">{{ document.caption }}</a>
            {% endfor %}
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Changelog</h4>
            <div class="hline"></div>
            <p>
            {% for release in page.releases reversed %}
                <b>Version:</b> {{ release.version }}<br>            
                <b>Date:</b> {{ release.date | date: "%b %-d, %Y" }}<br>
                <b>Description:</b> {{ release.description }}<br>
                <p>
                <a href="{{ release.winapp }}" target="_blank" class="btn btn-theme"><i widh="50" class="fa fa-windows" aria-hidden="true"></i> Windows app</a>
                <a href="{{ release.linuxapp }}" target="_blank" class="btn btn-theme"><i widh="50" class="fa fa-linux" aria-hidden="true"></i> Linux app</a></p>
                </p>
            {% endfor %}        
            </p>
        </div>        
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html title="Related Works." limit=5 %}
